@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;

}

/* 
============================
? => Repeatable Css :--
============================
*/

.D-Flex-Center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Px-7 {
    padding: 0 7rem;
}


/* 
============================
? => Navbar Css :--
============================
*/


.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f2efea;
    padding: 1.5rem 7rem;
    z-index: 10;
}

.logo img {
    height: 3.5rem;
}

.links ul li {
    list-style: none;
}

.links ul li a {
    text-decoration: none;
    padding: 0 15px;
    color: #626262;
    font-size: 1.03rem;
    transition: 0.2s;
}

.links ul li a:hover {
    color: orange;
}

.WhatsAppBtn {
    padding: 12px 35px;
    font-size: 1.07rem;
    background: white;
    border: none;
    color: orange;
    border-radius: 25px;
    margin-left: 2rem;
    transition: 0.2s;

}

.WhatsAppBtn:hover {
    background: linear-gradient(to right, #fcae36 0, #ff9100 100%);
    color: white;
    transition: 0.2s;
}

.PhoneNo {
    display: none;
}

/* 
============================
? => Main Container Css :--
============================
*/


.Main-Container {
    padding-top: 5rem;
    background: #f3f3f3;
}


/* 
============================
? => First Section Css :--
============================
*/


.First_Section {
    background: #f2efea;
    position: relative;
    z-index: 5;
}

.First_Section_Container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.LeftTextArea {
    padding: 2.3rem 0;
}

.LeftTextArea h1 {
    font-size: 2.9rem;
    color: #fd9f1a;
    width: 80%;
}

.LeftTextArea h4 {
    font-size: 1.2rem;
    font-weight: 400;
    color: #5d5d5d;
    margin: 2px 0;
}

.Top_Button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}


.LeftTextArea button {
    background: linear-gradient(to right, #fcae36 0, #ff9100 100%);
    font-weight: 700;
    font-size: 16px;
    padding: 20px 30px;
    border-radius: 3px;
    margin-top: 35px;
    color: #fff;
    border-radius: 50px;
    border: none;
    transition: .3s all ease-in-out;
}

.LeftTextArea button:hover {
    background: linear-gradient(to right, #d27e00 0, #b76700 100%);
    cursor: pointer;
}

.LeftTextArea button span {
    margin: 0 1rem;
}


.LeftTextArea .Top_Button p {
    font-size: 0.80rem;
    font-weight: 400;
    color: gray;
    margin-top: 3px;
}


.RightVideoArea video {
    border-radius: 30px;
}

.Phone-Video {
    display: none;
}

/*! ======================================== */

.Move-Section {
    padding: 0 7rem;
    width: 75%;
    padding-bottom: 2rem;
}

/** ======================================== */



/* 
============================
? => Second Section Css :--
============================
*/


.Second_Section {
    margin: 3rem 0;
}

.Mini_Cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.Card {
    flex-direction: column;
    text-align: center;
    background: white;
    padding: 30px 20px;
    border-radius: 10px;
    border: 1px solid #dddddd;
}

.Card img {
    height: 50px;
}

.Card h4 {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 5px 0;
}

.Card h3 {
    font-size: 1rem;
    font-weight: 400;
    color: #fcae36;
}



/* 
============================
? => Third Section Css :--
============================
*/


.Third_Section {
    background: white;
    padding: 1rem 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;

}

.Third_Section .heading h2 {
    font-size: 2.4rem;
    color: #b79d74;
    margin-bottom: 2rem;
}

.ChooseCard {
    margin-bottom: 2rem;
    box-shadow: 2px 2px 12px 1px #f2f2f2;
    border-radius: 10px;
    gap: 1.8rem;
}


.ChooseCard_Text h3 {
    color: #586a92;
    font-weight: 400;
    font-size: 1.2rem;
}

.ChooseCard_Text h4 {
    color: #818184;
    font-weight: 400;

}




/* 
============================
? => Fourth Section Css :--
============================
*/

.Forth_Section {
    background: white;
    padding: 3rem 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;

}

.Forth_Section .heading h2 {
    font-size: 2.4rem;
    color: #b79d74;
    margin-bottom: 2rem;
}

.Benefits {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}

.BenefitCard {
    flex-direction: column;
    color: #586a92;
    transition: 0.2s ease-in-out;
}

.BenefitCard:hover {
    scale: 1.08;
    transition: 0.3s ease-in-out;
}


/* 
============================
? => Fifth Section Css :--
============================
*/


.Fifth_Section {
    background: white;
    padding: 3rem 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.Fifth_Section .heading {
    flex-direction: column;
}

.Fifth_Section .heading h2 {
    font-size: 2.4rem;
    color: #b79d74;
    margin-bottom: 2rem;
}

.Curriculum_Cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Curriculum_Buttons button {
    font-size: 1.3rem;
    color: #586a92;
    border: none;
    background: none;
    padding: 0 10px;
    font-weight: 500;
    cursor: pointer;

}

.Curriculum_Buttons .active {
    color: #b79d74;
    text-underline-offset: 7px;
    text-decoration: underline;
}


.Curriculum_Card {
    gap: 2rem;
    margin: 1rem 0;
}

.Day,
.Curriculum {
    background: #f8f8f8;
}

.Day h3 {
    color: #b79d74;
    font-size: 1.3rem;
    font-weight: 400;
}

.Day h4 {
    color: #626262;
    font-size: 1.1rem;
    font-weight: 400;
}

.Day {
    flex-direction: column;
    padding: 3.2rem 3.5rem;
    min-width: 12rem;
    border-radius: 20px;
}


.Curriculum {
    padding: 1.5rem 1rem;
    border-radius: 10px;
}

.Curriculum h4 {
    color: #636363;
    margin: 5px 0;
}

.Curriculum h5 {
    color: #5c5c5c;
    font-weight: 400;
    font-size: 1.05rem;
}



/* 
============================
? => Sixth Section Css :--
============================
*/

.Sixth_Section {
    background: white;
    padding: 3rem 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.Sixth_Section .heading {
    flex-direction: column;
}

.Sixth_Section .heading h2 {
    font-size: 2.4rem;
    color: #b79d74;
    margin-bottom: 2rem;
}

.TeachersCards {
    gap: 2rem;
    display: flex;
    justify-content: center;
}

.TeacherCard {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.TeacherCard p {
    color: #474747;
}

.TeacherCard img {
    border-radius: 10px;
    height: 17rem;
}

.TeacherCard h2 {
    font-size: 1.8rem;
    color: #b79d74;
    margin: 1.2rem 0;
    font-weight: 600;
}


.Show_More_Btn,
.Show_Less_Btn {
    display: block;
    border: none;
    background: none;
    color: #35b3ff;
    font-size: 0.97rem;
    font-family: "Nunito", sans-serif;
    margin-top: 10px;
}

.Show_More_Btn:hover,
.Show_Less_Btn:hover {
    color: #60c2ff;
    transition: .2s;
    cursor: pointer;
}




/* 
============================
? => Seventh Section Css :--
============================
*/

.Seventh_Section {
    background: white;
    padding: 3rem 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.Seventh_Section .heading {
    flex-direction: column;
}

.Seventh_Section .heading h2 {
    font-size: 2.4rem;
    color: #b79d74;
    margin-bottom: 2rem;
}

.StudentsStories {
    flex-direction: column;
    gap: 1.5rem;
}

.StudentCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(222, 222, 222);
    width: 70%;
    padding: 10px 20px;
    border-radius: 5px;
}

.StudentCard .Text {
    display: flex;
    flex-direction: column;
}

.StudentCard p {
    padding: 10px 66px;
    font-size: 0.95rem;
    color: #444444;
}

.StudentCard .top {
    display: flex;
    align-items: center;
}

.StudentCard .top h2 {
    color: #586a92;
    font-weight: 500;
}

.StudentCard .top img {
    border-radius: 50%;
    margin: 0 1rem;
    height: 5rem;
}

.Seventh_Section .Numbers {
    margin: 2rem 0;
    gap: 1.5rem;
}

.Numbers button {
    padding: 12px 17px;
    background: #ebebeb;
    border: none;
    font-weight: 600;
    font-size: 1.05rem;
    color: gray;
    cursor: pointer;
    border-radius: 5px;
}

.Numbers .active {
    background: #b98e71;
    color: white;
}

.Student_Read_More_Btn {
    display: block;
    border: none;
    background: none;
    color: #b79d75;
    text-decoration: underline;
    font-size: 0.97rem;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
}

.Student_Read_More_Btn:hover {
    transition: .2s;
    text-decoration: none;
    cursor: pointer;

}

/* 
============================
? => Eight Section Css :--
============================
*/

.Eight_Section {
    background: white;
    padding: 3rem 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.Eight_Section .heading {
    flex-direction: column;
}

.Eight_Section .heading h2 {
    font-size: 2.4rem;
    color: #b79d74;
    margin-bottom: 2rem;
}

.Eight_Section .FAQ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 6px 0px rgb(239 239 239);
    padding: 20px 20px;
    border-radius: 10px;
    margin: 1.5rem 0;
    color: #586a92;
    transition: 0.3s ease-in-out;
}

.Eight_Section .FAQ h3 {
    font-weight: 400;
}

.Eight_Section .ImageContainer {
    display: flex;
    justify-content: center;
}

.Eight_Section .ImageContainer img {
    border-radius: 10px;
}

.FAQ {
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
}

.FAQ .head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.FAQ_Div {
    padding-top: 30px;
    padding-bottom: 10px;
    transition: .3s ease-in-out;
}


.FAQ button {
    border: none;
    padding: 7px 3px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.FAQ button span {
    padding: 0px 7px;
    background: #f2f2ff;
    color: #4e4e4e;
}


.FAQ_Btn {
    border: none;
    background: none;
    color: #b79d75;
    text-decoration: underline;
    font-size: 1.1rem;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
}

.FAQ_Btn:hover {
    transition: .2s;
    text-decoration: none;
    cursor: pointer;
}


/* 
============================
? => Ninth Section Css :--
============================
*/

.Ninth_Section {
    background: #973751;
    padding: 3rem 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    color: white;
}

.Ninth_Section .heading {
    flex-direction: column;
}

.Ninth_Section .heading h2 {
    font-size: 2.4rem;
    color: white;
    margin-bottom: 0.2rem;
}

.Ninth_Section .heading h4 {
    font-weight: 400;
    margin-bottom: 2rem;
}

.Form_Area input {
    background: #973751;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 1.1rem;
    outline: none;
    color: white;
    font-size: 0.9rem;
}

input::placeholder {
    color: white;
}


.Form_Area .Bottom input {
    width: 95%;

}

.Submit-Btn button {
    color: #973751;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 1px;
    padding: 20px 30px;
    border-radius: 3px;
    margin-top: 25px;
    background: #fff;
    border-radius: 50px;
    width: 200px;
    transition: 0.3s all ease-in-out;
    border: none !important;
    cursor: pointer;
}

.Submit-Btn button:hover {
    background: #ac2449;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}




/* 
============================
? => Tenth Section Css :--
============================
*/

.Tenth_Section {
    background: white;
    padding: 3rem 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.Tenth_Section .heading {
    flex-direction: column;
}

.Tenth_Section .heading h2 {
    font-size: 2.4rem;
    color: #b79d74;
    margin-bottom: 2rem;
}

.Tenth_Section .ForCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.Tenth_Section .ForCards .For-Card img {
    height: 50px;
}

.Tenth_Section .ForCards .For-Card h3 {
    color: #586a92;
    font-weight: 500;
    margin: 0.7rem 0;
}

.Tenth_Section .ForCards .For-Card p {
    color: #707070;
    font-size: 15px;
}






/* 
============================
* => Fixed Section Css :--
============================
*/

.Main-Fixed-Section {
    background: white;
    width: fit-content;
    background: white;
    width: fit-content;
    position: fixed;
    right: 6%;
    bottom: 38%;
    padding: 25px 25px;
    border-radius: 20px;
    z-index: 1;
    transition: 0.5s ease-in-out;
}


.Register-Btn {
    background: linear-gradient(to right, #fcae36 0, #ff9100 100%);
    font-weight: 700;
    font-size: 16px;
    padding: 13px 30px;
    border-radius: 3px;
    color: #fff;
    margin: 1rem 0;
    border-radius: 50px;
    width: 100%;
    border: none;
    transition: .3s all ease-in-out;
}


.FixedContainer .Top h3 {
    font-size: 1.4rem;
    color: #fd9f1a;
    margin-bottom: 5px;
}

.FixedContainer .Top h5 {
    color: #617298;
    font-weight: 400;
    margin: 2px 0;
}

.FixedContainer .End h5 {
    color: #1a1a1b;
    font-weight: 400;
    margin: 1px 0;
}

.FixedContainer .Top span,
.FixedContainer .End span {
    font-size: 1.2rem;
    margin-right: 10px;
}


.FixedContainer .End span {
    color: rgb(255, 146, 14);
}








/* 
============================
? => Footer Section Css :--
============================
*/

.Footer {
    position: relative;
    z-index: 5;
}

footer .Upper_Footer {
    display: flex;
    background: #f2efea;
    padding: 2rem 3rem;
    justify-content: space-between;
}

.Upper_Footer .Left img {
    height: 60px;
    margin-bottom: 1rem;
}

.Upper_Footer .Left p {
    font-size: 0.85rem;
    width: 75%;
    color: #414141;
}

.Upper_Footer .Center h2 {
    font-weight: 400;
}

.Upper_Footer .Center .address h4,
.Upper_Footer .Center .Phone .phone h4,
.Upper_Footer .Email .email h4 {
    font-weight: 400;
}

.Upper_Footer .Center .address p {
    font-size: 0.8rem;
    color: #414141;
}


.Upper_Footer .Center .Phone .phone p,
.Upper_Footer .Email .email p {
    color: rgb(74, 74, 213);
    cursor: pointer;
    font-size: 0.9rem;
}


.Upper_Footer .Center .icon {
    padding-right: 20px;
}

.Upper_Footer .Center .icon i {
    color: black;
    font-size: 2rem;
    margin: 4px 10px;
}

.Upper_Footer .Center .Address,
.Upper_Footer .Center .Email,
.Upper_Footer .Center .Phone {
    display: flex;
    align-items: center;
    margin: 12px 0px;
}

.Upper_Footer .Right {
    margin-left: 5rem;
}


.Upper_Footer .Right h2 {
    font-weight: 500;
}

.Upper_Footer .Right .Input {
    display: flex;
    flex-direction: column;
}

.Upper_Footer .Right .Input input {
    padding: 0.8rem 1rem;
    width: 25rem;
    border-radius: 5px;
    border: 1px solid lightgrey;
    color: gray;
    margin-bottom: 1rem;
}

.Upper_Footer .Right .Input input::placeholder {
    color: rgb(92, 92, 92);
}


.Upper_Footer .Right .Input button {
    padding: 10px;
    background-color: #A67B5B;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}


.Down-Footer p {
    padding: 1.3rem 9rem;
    font-size: 0.9rem;
}


/* Responsive Code */

@media (max-width:1450px) {

    .ImageContainer img {
        height: 25rem;
    }
}

@media (max-width:1430px) {

    .BenefitCard img {
        height: 20rem;
    }
}


@media (max-width:1350px) {

    .LeftTextArea h1 {
        font-size: 2.3rem;
    }

    .LeftTextArea h4 {
        font-size: 1rem;
    }

    .LeftTextArea button {
        font-size: 12px;
        padding: 17px 20px;
    }

    .LeftTextArea .Top_Button p {
        font-size: 0.60rem;
    }

    .RightVideoArea video {
        width: 400px;
        height: 225px;
    }

    .LeftTextArea h1 {
        width: 79%;
    }

    .LeftTextArea h4 {
        width: 75%;
    }
}


@media (max-width:1280px) {

    .TeacherCard img {
        height: 14rem;
    }

    .TeacherCard h2 {
        font-size: 1.2rem;
    }
}

@media (max-width:1230px) {

    .BenefitCard img {
        height: 16rem;
    }

    .Card {
        padding: 10px 10px;
    }

    .Card h3 {
        font-size: 0.8rem;
    }

    .Card img {
        height: 35px;
    }

    .Card h4 {
        font-size: 0.7rem;
    }
}

@media (max-width:1130px) {
    .Main-Fixed-Section {
        display: none !important;
    }

    .Main-MoveAble-Section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Move-Section {
        padding: 0 0rem;
    }
}


@media (max-width:1080px) {

    .LeftTextArea h1 {
        font-size: 2rem;
    }

    .LeftTextArea h4 {
        font-size: 0.9rem;
    }

    .LeftTextArea button {
        font-size: 10px;
        padding: 15px 18px;
    }

    .LeftTextArea .Top_Button p {
        font-size: 0.55rem;
    }

    .RightVideoArea video {
        width: 375px;
        height: 215px;
    }

    .LeftTextArea h1 {
        width: 79%;
    }

    .LeftTextArea h4 {
        width: 75%;
    }


}


@media (max-width:998px) {

    .First_Section_Container {
        flex-direction: column;
    }

    .links {
        display: none;
    }

    .LeftTextArea h1 {
        width: 100%;
        font-size: 2.3rem;
        text-align: center;
    }

    .LeftTextArea {
        padding: 2.3rem 0;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .Upper_Footer .Right .Input input {
        width: 16rem;
    }

    .PhoneNo {
        display: block;
        text-decoration: none;
        background: orange;
        padding: 7px 9px;
        border-radius: 30px;
    }
    .PhoneNo a{
        color: white;
    }


    .Mini_Cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .ChooseCard img {
        height: 7rem;
    }

    .ChooseCard_Text h3 {
        font-size: 1rem;
    }

    .ChooseCard_Text h4 {
        font-size: 0.9rem;
    }

    .Day {
        padding: 2.2rem 2.5rem;
        min-width: 9rem;
    }

    .Curriculum h5 {
        font-size: 0.8rem;
    }

    .Curriculum_Card {
        gap: 0.5rem;
    }

    .Fifth_Section {
        padding: 3rem 1rem;
    }

    .Curriculum {
        padding: 0.5rem 1rem;
    }

    .TeachersCards {
        flex-direction: column;
    }

    .TeacherCard img {
        height: 20rem;
    }

    .StudentCard p {
        padding: 10px 5px;
    }

    .StudentCard {
        width: 95%;
    }

    .ImageContainer img {
        height: 17rem;
    }

    .Tenth_Section .ForCards {
        grid-template-columns: repeat(1, 1fr);
    }

    .navbar {
        background: #fff;
        padding: 1.5rem 4rem;
    }

    footer .Upper_Footer {
        flex-direction: column;
        gap: 2rem 0;
        align-items: flex-start;
    }

    .Upper_Footer .Right {
        margin-left: 0rem;
    }



}

@media (max-width:768px) {
    .Desktop-Video {
        display: none;
    }

    .Phone-Video {
        display: block;
    }

    .Mini_Cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .ChooseCard_Text h3 {
        font-size: 0.9rem;
    }

    .ChooseCard_Text h4 {
        font-size: 0.8rem;
    }

    .ChooseCard {
        flex-direction: column;
    }

    .ChooseCard_Text {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .ChooseCard {
        flex-direction: column;
        padding: 12px 0;
    }

    .BenefitCard img {
        height: 12rem;
    }

    .BenefitCard p {
        font-size: 0.65rem;
    }

    .Form_Area .top,
    .Form_Area .Middle {
        flex-direction: column;
    }

    .Form_Area p {
        text-align: center;
    }

    .Form_Area input {
        min-width: 20rem;
    }

    .Bottom {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Form_Area .Bottom input {
        max-width: 20rem;
    }

    .Form_Area p input[type="checkbox"] {
        min-width: 0rem;
    }

    .Seventh_Section .heading h2 {
        text-align: center;
    }

    .Forth_Section .heading h2 {
        text-align: center;
    }

    .Benefits {
        grid-template-columns: repeat(1, 1fr);
    }

    .Fifth_Section .heading h2 {
        text-align: center;
    }

    .Sixth_Section .heading h2 {
        text-align: center;
    }

    .navbar {
        background: #fff;
        padding: 1.5rem 3rem;
    }

    .LeftTextArea h1 {
        width: 85%;
    }

    .RightVideoArea video {
        width: 330px;
        height: 230px;
    }

    .First_Section {
        padding-bottom: 18px;
    }
    

}


@media (max-width:578px) {

    .First_Section_Container {
        padding: 0 0;
    }

    .navbar {
        background: #fff;
        padding: 1rem 1rem;
    }

    .logo img {
        height: 3rem;
    }

    .ImageContainer img {
        height: 12rem;
    }

    .LeftTextArea button {
        margin-top: 10px;
    }

    .Third_Section .heading h2,
    .Forth_Section .heading h2,
    .Fifth_Section .heading h2,
    .Sixth_Section .heading h2,
    .Seventh_Section .heading h2,
    .Ninth_Section .heading h2,
    .Tenth_Section .heading h2 {
        font-size: 1.4rem;
        text-align: center;
    }

    .Curriculum_Buttons button {
        font-size: 0.9rem;
        padding: 0 3px;
    }

    .Curriculum_Card {
        gap: 0.5rem;
        flex-direction: column;
        text-align: center;
    }

    .Seventh_Section {
        background: white;
        padding: 1rem 0.5rem;
    }

    .StudentCard .top img {
        height: 4rem;
    }

    .StudentCard .top h2 {
        font-size: 1rem;
    }

    .StudentCard p {
        padding: 10px 5px;
        font-size: 0.75rem;
    }

}


@media (max-width:426px) {
    .ImageContainer img {
        height: 10rem;
    }

    .Eight_Section {
        padding: 2rem 1rem;
    }

    .Eight_Section .FAQ h3 {
        font-weight: 400;
        font-size: 0.8rem;
    }

    .FAQ_Div p {
        font-size: 0.75rem
    }

    .Ninth_Section {
        padding: 1rem 0.5rem;
        display: flex;
        flex-direction: column;
    }

    .Ninth_Section .heading {
        flex-direction: column;
        text-align: center;
    }

    .Ninth_Section .heading h4 {
        font-weight: 400;
        margin-bottom: 1rem;
        font-size: 0.75rem;
        width: 70%;
    }

    .Form_Area input {
        min-width: 15rem;
    }

    .Submit-Btn button {
        font-size: 13px;
        padding: 15px 6px;
        width: 140px;
    }

    .Upper_Footer .Left p {
        font-size: 0.85rem;
        width: 100%;
    }

    .Upper_Footer .Center .icon {
        padding-right: 10px;
    }

    .Upper_Footer .Center .icon i {
        font-size: 1.5rem;
    }

    .Down-Footer{
        display: flex;
        align-items: center;
        justify-content: center;    
    }

    .Down-Footer p {
        padding: 1.3rem 0rem;
    }

    .TeacherCard img {
        height: 15rem;
    }

    .Curriculum_Buttons button {
        font-size: 0.6rem;
        padding: 0 3px;
    }

    .Third_Section .heading h2,
    .Forth_Section .heading h2,
    .Fifth_Section .heading h2,
    .Sixth_Section .heading h2,
    .Seventh_Section .heading h2,
    .Ninth_Section .heading h2,
    .Tenth_Section .heading h2 {
        font-size: 1.2rem;
        text-align: center;
    }
}